.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media print {
  .barcode-card {
    width: 7cm;
    height: 3.5cm;
    padding: 0.2cm;
    margin-bottom: 0.3cm; /* إضافة مسافة بسيطة بين الملصقات عمودياً */
    border: 1px dashed #ccc; /* إضافة حدود متقطعة لتسهيل القص (اختياري) */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* يضمن أن الحجم المحدد يشمل الحواف والهامش الداخلي */
  }

  .barcode-card .school-name {
    font-size: 8pt;
    margin-bottom: 2px;
  }
  
  .barcode-card .item-details {
    font-size: 7pt;
    margin-top: 2px;
  }
}
/* Hide elements with this class only when printing */
@media print {
  .no-print {
    display: none !important;
  }
  .hide-on-print {
    display: none !important;
  }
}

/* Style for the checkbox on screen */
.barcode-checkbox {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}